<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Released</th>
      <th>Genre</th>
      <th>Release Year</th>
      <th>Artist Name</th>

    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
<<<<<<< HEAD
=======
    <%= binding.pry %>
>>>>>>> 182475e2227f6f7dfa9d7b45551a6fccf62135d5
      <tr>
        <td>
          <%= song.title %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
